.main{
  padding : 6rem 20rem;
}

/* main info */
.main_info{
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap : 1rem;

  padding : 0 2rem;
}

.main_info_miniTitle{
  color : #2563EB;
}

.main_info_coment{
  font-family: 'KimjungchulMyungjo-Light';
}

/* main description */

.main_description{
  padding : 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
  grid-auto-rows: minmax(450px, 1fr);
  gap: 1rem;
}

.main_description_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap : 2rem;
}

.main_description_grid_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap : 1rem;
}

.main_description_grid_card_title{
  font-size: 4rem;
  color : #2563EB;
}

.main_description_grid_card_comment{
  font-family: 'KimjungchulMyungjo-Light';
}

.main_description_img{
  width: 100%;
  height: 100%;

  background-image: url("https://images.unsplash.com/photo-1722648404002-e77dd17a0807?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width : 1220px){
  .main{
    padding : 0;
    margin-bottom: 6rem;
  }

  .main_description{
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }

  .main_description_img{
    margin-top: 2rem;
    
  }

  .main_description_grid{
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
  }
}