/* main */

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.main_title{
  display: flex;
  flex-direction: column;
  
  text-align: center;
  align-items: center;

  width: 80%;
}

.main_title_h1{
  margin: 1.5rem 0;
}

.main_cardzone{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: center;
  gap : 0.6rem;
}

.main_cardzone_card{
  background-color: #F1F5F9;
  position: relative;
  padding : 1.5rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_cardzone_card_cover{
  position:absolute;

  background-color: rgb(255, 255, 255);

  left:0;
  top:0;
  border-radius: 10px;

  width:100%;
  height:100%;

  animation: FadeoutCard 1s forwards ease-in-out;
}

@keyframes FadeoutCard{
  from{
    background-color: rgb(255, 255, 255);
  }
  to{
    display: none;
    background-color: rgba(0,0,0,0);
  }
}

.main_cardzone_card_img{
  padding-top: 70%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.main_cardzone_card_discription{
  font-size: 1rem;
  font-weight: 900;

  margin-bottom: 2rem;
}
